body {
    font-size: 1.5em;
    background: #ff6c61;
    color: #fff;
}
.card, .intro, .loading {
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.card, .loading {
    display: none;
}
.intro {
    text-align: center;
}
img { width: 100%}

.poem {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    width: 75%;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    color: #ff6c61;
    display: block;
    border-bottom: 5px solid #aa3333 ;
    border-right: 5px solid #aa3333 ;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

}
.button:hover{
    border-bottom: 3px solid #aa3333 ;
    border-right: 3px solid #aa3333 ;
    padding-top:11px;
    
}
.button:active{
    border-bottom: 0px solid #aa3333 ;
    border-right: 0px solid #aa3333 ;
    border-top: 5px solid #aa3333 ;
    border-left: 5px solid #aa3333 ;
}